body {
  background-image: url("/assets/images/texture.jpg");
  /*background-size: cover;*/
}
.about {
  margin-top: 3em;
  margin-bottom: 3em;
}
a {
  color: rgb(82, 69, 47);
}
a {
  color: rgb(82, 69, 47) !important;
}
